---
layout: default
---

<div class="home">

  <h1 class="page-heading">League of Legends Coaching Community News</h1>

  <ul class="post-list">
    {% for post in site.posts limit: 10 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.author %} 
            by {{ post.author }}
          {% endif %}
        </span>
        {% if post.thumbnail %}
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="thumbnail" src="{{ post.thumbnail }}" alt="{{ post.title thumbnail }}">
          </a>
        {% endif %}
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
