---
layout: default
title: "League of Legends News - GameRunners"
---

<div class="home">
{% include share.html %}
  <h1 class="page-heading">GameRunners LoL News - <a href="/pro-interviews.html">Pro Interviews</a>, <a href="/pro-analysis.html">Pro Analysis</a>, <a href="/gamerunners-updates.html">GameRunners Updates</a></h1>
  <ul class="post-list">
    {% for post in site.categories.lol limit: 7 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.author_coach %} 
              by <a href="{{ post.author_coach }}">{{ post.author }}</a>
            {% else %}
              by {{ post.author }}
            {% endif %}
          </span>
        </p>
        {% if post.thumbnail %}
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="thumbnail" src="{{ post.thumbnail }}" alt="{{ post.title thumbnail }}">
          </a>
        {% endif %}
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}">Continue reading</a>
      </li>
    {% endfor %}
  </ul>

</div>
