<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}League of Legends Analysis | {{ site.title }}{% endif %}</title>
  {% if page.description %}
    <meta name="description" content="{{page.description}}" />
  {% else %}
    <meta name="description" content="{{site.description}}" />
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}/">
  <link rel="icon" href="/images/gr-logo.png" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="GameRunners News" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}/">
    <meta property="og:description" content="{{ page.description }}" />
    {% if page.thumbnail %}
      <meta property="og:image" content="http://news.gamerunners.gg{{ page.thumbnail }}" />
    {% endif %}
    <meta property="fb:app_id" content="[439602816197306]" />
    <meta property="og:type" content="article" />
  {% endif %}

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-55659877-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script type="text/javascript">
    document.getElementById("fb-comments-wrapper").innerHTML = "<div class='fb-comments' data-href='" + document.location.href + "' num_posts='10 data-colorscheme='light'></div>";  
  </script>
</head>
