<script type="text/javascript">stLight.options({publisher: "f37cf1bc-f10a-47e3-8dd4-55593c45a092", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "f37cf1bc-f10a-47e3-8dd4-55593c45a092", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["reddit", "facebook", "twitter"], "chicklets_params": { twitter:{ "st_via" : "GameRunnersGG" }
   }}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>